/* 
http-server -c-1
npx webpack
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:40");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0px;
}

.page {
    height: 100vh;
}

.demo a:hover {
    opacity: .5 !important;
}

#section01 a span {
    margin-top: 88vh !important;
    position: absolute !important;
    left: 50% !important;
    width: 24px !important;
    height: 24px !important;
    margin-left: -12px !important;
    border-left: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    -webkit-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    box-sizing: border-box !important;
}

#section02 a span {
    margin-top: 88vh !important;
    position: absolute !important;
    left: 50% !important;
    width: 24px !important;
    height: 24px !important;
    margin-left: -12px !important;
    border-left: 1px solid black !important;
    border-bottom: 1px solid black !important;
    -webkit-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    box-sizing: border-box !important;
}

#intro-page{
    background-color: #2C2C2C;
    background-image: url(../images/bkg1.svg);
    color: white;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

#welcome {
    position: absolute;
    top: 5vh;

    text-align: center;
    
    width:100%;
    
    display: flex;
    justify-content: center;
}

#name {
    font-family: Poppins;
    font-size: 45px;
    font-weight: normal;
    color: var(--text-color);

    width: auto;

    /* transition: color 500ms;
    letter-spacing: 1px;
    border-right: .10em solid orange;
    
    animation: 
        typing 3.5s steps(30, end),
        blink-caret 1s step-end infinite; */
}

/* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
} */

#subtitle {
    position: absolute;
    top: 73vh;

    width: 100%;

    text-align: center;
    display: flex;
    justify-content: center;
}

.subtitle-background {
    font-family: Poppins;
    font-size: 23px;
    font-weight: normal;

    color: var(--text-color);
    background: rgba(134, 134, 134, .2);
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;

    transition: color 500ms;
}

#page-details {
    padding-top: 10vh;
}

#page-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

    text-align: center;

    line-height: 1.4;

    margin-bottom: 6vh;
    /* width: 45vw; */
}

#page-text a {
    text-decoration: none;
    color: #0573E8;
}

#page-text a:hover {
    text-decoration: underline;
}

.about {
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}

#projects-title {
    color: white;
}
 
#links {
    margin-top: 5vh;
}

.wrapper {
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    gap: 3vw;
}

.column-centered {
    /* margin-left: 20%; */
}

.caption {
    font-family: Courier;
}

.media {
    margin-top: 10px;
    border-radius: 12px;
    display: inline-grid;
    grid-template-columns: 50px auto;
    line-height: 18px;
    overflow: hidden;
    height: 80px;
    width: 90%;
}

.spotify {
    margin-top: 10px;
    width: 90%;
}

#manga-box {
    background-color: #522195;
}

#anime-box {
    background-color: #E03A37;
}

#manga-cover {
    background-image: url('https://s4.anilist.co/file/anilistcdn/media/manga/cover/medium/bx100994-f6CMjiQQNVeS.png');
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
}

#anime-cover {
    background-image: url("https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx143270-iZOJX2DMUFMC.jpg");
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
}

.info {
    overflow: hidden;
    padding: 15px 16px 10px 17px;
    display: inline-grid;
    font-family: 'Open Sans';
}

.title {
    font-size:1.1rem;
    font-weight:500;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.author {
    margin-top: 3px;
    font-size:1.0rem;
    position: relative;
    color: #D3D3D3;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

#projects-page {
    /* background-color: #3b3b3b; */
    background-image: url(../images/Animated\ Shape.svg);
    background-repeat:no-repeat;
    background-size:cover;
    /* color: white; */
    position: relative;
}

#projects {
    padding-top: 5vh;
    max-width: 80%;
    margin: auto;
}

#projects a:hover {
    text-decoration: none;
}

canvas {
    height: 100px;
    opacity: 1;
    position: absolute; 
    top: 0;
    right: 0px;
}

#social {
    position: absolute;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 200;
    color: white;
    background: rgba(0, 0, 0, .5);
    margin-left: 15px;
    text-align: center;
}

.extra-info {
    display: none;
}

.footer:hover .extra-info {
    display: inline-block;
}

.footer {
    color: white;
    position: absolute;
    bottom:20px;
    left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.footer a {
    text-decoration: none;
    color: #0573E8;
}