html {
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 610px) {
    html {
        font-size: 2vw;
    }
    .links a {
        margin-left: 5px;
        margin-right: 5px;
    }
}  

pre {
    margin: 0;
    display: none;
}

body {
    margin: 0;
}

a {
    color: #0573E8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 99vh;
    margin: 0;
    padding: 0;
}


.name {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        color: white;
    }
    50% {
        color: grey;
    }
    100% {
        color: black;
    }
}

.about {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.about p {
    margin-bottom: 10px;
}

.about ul {
    margin-top: 0px;
}

.links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}