.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

pre {
    margin: 0;
    display: none;
}

body {
    background-color: #121212;
    margin: 0;
    color: white;
    /* animation: darkanimation ease 0.5s; */
}

@keyframes darkanimation {
    0% {
        background-color: #dee4e7;
    }
    100% {
        background-color: #121212;
    }
}

.light {
    background-color: #dee4e7;
    /* animation: lightanimation ease 0.5s; */
}

@keyframes lightanimation {
    0% {
        background-color: #121212;
    }
    100% {
        background-color: #dee4e7;
    }
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 99vh;
    margin: 0;
    padding: 0;
}


.name {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        /* color: white; */
        color: black;
        opacity: 0%;
    }
    50% {
        color: grey;
    }
    100% {
        /* color: black; */
        color: white;
        opacity: 87%;
    }
}

.about {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: #d3d3d3;
}

.about p {
    margin-bottom: 10px;
}

.about ul {
    margin-top: 0px;
}

.about a {
    /* color: #bb86fc; */
    color: #03dac5;
    text-decoration: none;
}

.about a:hover {
    text-decoration: underline;
}

.links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}

.links a {
    /* color: #bb86fc; */
    color: #03dac5;
    text-decoration: none;
}

.light-mode {
    color: #121212 !important;
}

.light-mode a {
    color: #0573E8;
}

.links a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 610px) {
    .name {
        font-size: 2.5vw;
    }
    .about {
        font-size: 2.7vw;
    }
    .links {
        font-size: 2.7vw;
        gap: 10vw;
    }
}  

.credentials {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #d3d3d3;
}

.mode {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: none;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    cursor: pointer;
    color: #d3d3d3;
}

@media only screen and (max-width: 610px) {
    .credentials {
        visibility: hidden;
    }
    .mode {
        width: 100%;
        text-align: center;
        font-size: 3vw;
    }
}  
