@import url("https://fonts.googleapis.com/css?family=Open+Sans:40");

body {
    background-color: black;
}

.name-text {
    /* padding: 0 10%; */
    background-color: black;
    color: #FFF;
    font-family: 'Cousine', monospace;
    font-size: 8em;
    /* line-height: 80vh; */
    white-space: nowrap; 

    animation-iteration-count: 1;
    animation-name: name-slide;
    animation-delay: 10s;
    animation-duration: 2s; 
    animation-fill-mode: forwards;
}

.blinking-cursor {
    user-select: none;
    /* animation: blink 1s steps(2, start) infinite;  */
    animation: blink 1s steps(2, start) infinite , name-slide 4s 10s forwards;
}

#info {
    position: relative;
    display: block;
    width: 90%;
    margin-left: 10%;
    margin-top: 10%;
    animation-iteration-count: 1;
    animation-name: div-slide;
    animation-delay: 10s;
    animation-duration: 2s; 
    animation-fill-mode: forwards;
    /* background-color: black; */
}

@keyframes name-slide {
    100% {font-size: 3em;}
}

@keyframes div-slide {
    100% {margin-top: 5%; width: 35%; margin-left: 5%;}
}

@keyframes blink {
    to {
        visibility: hidden; } }

canvas {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    animation-iteration-count: 1;
    animation-name: fade-in;
    animation-delay: 10s;
    animation-duration: 4s; 
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    100% {opacity: 1;}
}

h1 {
    font-size: 5vh;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    font-weight: 200;
    margin-top: -20px;
}

.infobox {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-top: -20px;
}

.subtitle {
    opacity: 0;
    width: 60%;
    color: #FFF;
    font-family: 'Cousine', monospace;
    font-weight: normal;
    background-color: black;
}

#comp-eng {
    animation-name: slide-down;
    animation-delay: 12.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#hover-info {
    animation-name: slide-down;
    animation-delay: 13s;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
}

#controls {
    animation-name: slide-down;
    animation-delay: 13s;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
}

@keyframes slide-down {
    0% {opacity: 0; width: 60%; margin-top: -10px;}
    100% {opacity: 1; width: 60%; margin-top: 20px;}
}

#sub-info {
    position: relative;
}

#social {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 200;
    color: white;
    background-color: black;
    margin-left: 20px;
}
