body {
  background-color: black;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  font-size: 50px;
}

.name {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin-top: -30px;
}

.infobox {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-top: -20px;
}

#info {
  position: relative;
	display: block;
  text-align: center;
  margin: auto;
  color: white;
  padding-top: 0px;
}

#social {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: white;
  background-color: black;
  margin-left: 20px;
}

#controls {
  position: fixed;
	display: block;
  text-align: center;
  margin: auto;
  color: white;
  bottom: 0;
  right: 0;
  width: 200px;
}